.default-container
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    = render 'shared/bread_bar'
  %main.l-container.clearfix
    .l-content
      %section.l-chapter-container
        %h2.l-chapter-head 支払い方法
        .l-single
          %section
            .l-single-content
              %h3.l-chapter-sub-head クレジットカード一覧
            %ul.settings-payment-list
          %section.settings-add-card
            .l-single-content
              =link_to "", "https://www.mercari.com/jp/mypage/card/create/", class: "btn-default btn-red submit_button"
              %i.icon-card>
              クレジットカードを追加する
          .settings-not-regist
            =link_to "", "/jp/help_center/category/6/"
            %span 支払い方法について
            %i.fa.fa-chevron-right
    .l-side
      = render 'shared/side_bar'
      = render 'shared/cameraicon'
  %footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
    =render 'shared/footer'
