.default-container
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    = render 'shared/bread_bar'
  %main.l-container.clearfix
    .l-content
      .l-content-tab
        .l-content-tab-head
        　出品した商品
        %ul.list
          %li.
            出品中
          %li.
      
    