-breadcrumb :tos
%div.sc-TFwJa.wYTWu
  = render 'shared/header'
  = render 'shared/bread_bar'
  %section.static-page
    %h2 あんしんスマホサポート制度に関する利用特約
    .static-page-content
      %p このあんしんスマホサポート制度に関する利用特約（以下「本特約」といいます）は、第1条で定義する本サポート制度の利用の諸条件を定めるものです。本サポート制度をご利用されるお客様は、本特約の内容を十分に理解し、本特約にご同意いただいたうえで、本サポート制度をご利用いただくものとします。なお、本特約は、メルカリ利用規約（以下「本利用規約」といいます）の一部を構成し、本特約に定めのない事項は、本利用規約の定めが適用されるものとします。本利用規約の内容と本特約の内容が矛盾する場合は、本特約の内容が優先するものとします。本特約で使用される定義語は、文脈により別異に解すべき場合を除き、本利用規約に定める定義に従うものとします。
      %section
        %h3 第1条 本サポート制度、本特約について
        %ol.period-num
          %li あんしんスマホサポート制度（以下「本サポート制度」といいます）は、出品者が本サービス上で、スマートフォン端末等別途弊社が指定する20万円以下の商品（以下「サポート対象商品」といいます）を本サービス上に出品するにあたり、弊社または弊社が指定する事業者がサポート対象商品の検品・動作確認を行い、当該検品・動作確認の結果、保証対象と認めた商品について、第3条第2項に定める期間に、第3条第3項に定める保証対象事故が生じた場合に、第3条の定めに基づき返金保証（以下「本返金保証」といいます）を行う制度です。
          %li 本特約は、本サポート制度を利用することに同意した出品者および購入者に対して適用されます。出品者は、本サポート制度の利用を申し込む時点において本特約に同意するものとし、また、購入者は、本サポート制度対象商品の購入を申し込んだ時点において、本特約に同意するものとします。
      %section
        %h3 第2条 本検品・動作確認について
        %ol.period-num
          %li 出品者が、本サービス上に出品する商品につき、本サポート制度の利用を希望する場合、別途弊社が指定する手順に従い、弊社または弊社が指定する事業者に対し、当該商品につき検品・動作確認（以下「本検品・動作確認手続」といいます）を申込むものとします。
          %li 出品者は、前項に基づき本サポート制度の申込を行った商品の取引が成立した場合、弊社が別途指定する方法により、当該商品を弊社の指定する場所に送付するものとします。
          %li 出品者は、SIMカードを商品から取り出してから商品を発送するものとします。SIMカードが取り出されていない状態で商品が弊社の指定する場所に送付された場合、弊社または弊社が指定する事業者は、SIMカードを出品者に返送することなく、破棄することができるものとします。
          %li 本検品・動作確認手続により、弊社が保証対象外と判断した商品につき、弊社は出品者に返送します。出品者は、ただちに返送された商品を受け取るものとします。なお、出品者は、弊社が動作不良を原因として返品した商品については、本サポート制度を再度利用して出品することはできません。
      %section
        %h3 第3条 本返金保証について
        %p 1. 弊社は、サポート対象商品について、次項に定める保証対象期間において、第3項に定める保証対象事故が生じた場合、出品者が本利用規約に基づいて負担する商品代金相当額の返金債務につき、20万円を上限として、これを保証します（以下「本返金保証」といいます）。
        %h4 2. 保証対象期間
        %ul
          %li 保証対象期間の開始日：購入者がサポート対象商品の受取評価をした日
          %li 保証対象期間の終了日：保証対象期間が開始した日から1ヵ月後の応当日
        %h4 3. 保証対象事故
        %p サポート対象商品の自然故障（取扱説明書等の注意書きに従った正常な使用状態のもとで発生した故障を意味します。）
        %h4 4. 本返金保証のお申込方法
        %p 保証対象期間中に保証対象事故が発生したため本返金保証を受けることを希望する購入者は、当社が別途指定する方法により申込みを行うものとします。なお、申込みは、保証対象事故が発生してから７日以内に行っていただく必要があります。
        %h4 5. サポート対象商品の送付
        %p 本返金保証を受けることを希望する購入者は、弊社が別途指定する方法により、サポート対象商品を弊社の指定する場所に送付するものとします。弊社または弊社の指定する第三者は、サポート対象商品の状況を確認のうえ、保証対象期間中に保証対象事故が生じたと弊社または弊社の指定する第三者が判断したものについて、返金を行います。本項に基づき購入者が送付したサポート対象商品の所有権は、弊社または弊社が指定する第三者が受領した時点で、弊社に移転されるものとします。購入者は、サポート対象商品の送付時に、サポート対象商品に記録されたデータを自らの責任で事前に全て別の機器またはクラウド等に転送等した後、消去するものとします。お送りいただいたサポート対象商品にデータが保存されていた場合でも、弊社は当該データに起因する損害（データの削除、損壊、漏洩を含みますがこれらに限られません）について一切責任を負いません。
        %h4 6. 本返金保証の適用除外
        %p 他のいかなる規定にも関わらず、購入者が次の各号のいずれかに該当する場合は、本返金保証を受けることができません。
        %ol
          %li 保証対象事故が保証対象期間外に生じたとき
          %li 購入者が、商品の受取評価後から返金のお申込み時において、サポート対象商品を第三者（出品者を含む）に譲渡しているとき
          %li 購入者が本利用規約に定める禁止事項のいずれかに該当する行為を行ったとき
          %li 過去に本利用規約への違反があり、本返金保証に基づく返金のお申込み時においてなお当該違反が是正されていないとき
          %li 過去に同一名義の購入者の本返金保証に基づく返金のお申込みに虚偽申告があったと弊社が判断したとき
          %li 本返金保証に基づく返金のお申込み時において、購入者が商品代金を支払っていないとき
          %li 保証対象事故による損害が、サポート対象商品の傷、汚れ、塗装の剥離等の外見上の損害であって、サポート対象商品の機能に影響が生じていないとき
          %li 保証対象事故による損害が、サポート対象商品の消耗、変質、変色等による損害であるとき
          %li サポート対象商品が、加工、改造、解析（ソフトウェアの改造、解析 (ルート化等を含みます。)、リバースエンジニアリング、逆コンパイル、または逆アセンブルを含みます。）されたもの、または弊社が別途指定する正規の修理拠点以外で修理されたものであるとき
          %li サポート対象商品のシリアル番号が改変、汚損または除去されているとき
          %li 保証対象事故が、サポート対象商品の誤使用により生じたものであるとき
          %li 保証対象事故による損害が、サポート対象商品に保存されていた画像データ・電話帳データ・電子メールデータ・音源データ・ICカード内のデータ、その他一切の電子データの消去による損害であるとき
          %li 保証対象事故が火災・水濡れに起因するものであるとき
          %li 保証対象事故が、コンピューターウィルスによる障害に起因するものであるとき
          %li 保証対象事故が購入者または購入者の許諾を得てサポート対象商品を使用する者の故意または重大な過失により発生したものであるとき
          %li 保証対象事故が、地震、噴火、津波、洪水等の天災により発生したものであるとき
          %li 保証対象事故が、戦争、暴動またはテロにより発生したものであるとき
          %li 保証対象事故が、差押え等の国または地方公共団体による公権力の行使により発生したものであるとき
          %li 保証対象事故が、核燃料物質、放射能汚染により発生したものであるとき
          %li 保証対象事故が充電機器類（ACアダプタ、DCアダプタ等の携帯電話本体を充電することができる機器類をいいます。）または付属品の紛失または盗難である場合
        %h4 7. 禁止事項
        %p 出品者または購入者は、本サポート制度の利用にあたり、以下の行為を行ってはなりません。
        %ol
          %li 本利用規約におけるユーザー登録の取り消し・利用停止事由に該当する行為
          %li メルカリガイドに記載された禁止行為
          %li 本サポート制度のご利用（本返金保証のお申込みを含みますが、これに限りません）にあたり、虚偽の届出または申告を行うこと。
          %li 本サポート制度のご利用に関し生じた権利もしくは義務または本サポート制度のご利用に関する契約上の地位を、弊社の承諾なく第三者に譲渡し、承継させ、または担保に供する行為。
          %li 本サポート制度の提供に関する弊社もしくは第三者の設備に無権限でアクセスし、過度な負担を与え、その他本サポート制度の提供およびその運営に支障を与える行為、またはそのおそれのある行為。
          %li 犯罪行為もしくは犯罪行為に結びつく行為、またはそのおそれのある行為。
          %li 上記各号の他、法令、公序良俗、本規約等に違反する行為、またはそのおそれのある行為。
        %h4 8. 出品者または購入者情報の確認および取扱い
        %ol
          %li 弊社または弊社の指定する第三者は、本サポート制度の利用にあたり必要と判断した場合は、各種確認書類（本人確認書類等）の写しの提出を出品者または購入者に求める場合があります。
          %li 弊社は、本サポート制度の提供にあたり取得する個人情報（当該情報または他の情報と照合することにより、本人を識別し得る情報をいいます。）を弊社が別途定めるプライバシーポリシーに従い取り扱います。
      %section
        %h3 第4条 本サポート制度利用料
        %ol.period-num
          %li 出品者は、本検品・動作確認手続の実施にあたり、本検品・動作確認にかかる実費（商品の送料、弊社が指定する事業者の作業工賃等を含みます。）を、弊社が別途指定する方法により、負担するものとします。
          %li 本返金保証は無償で提供されるものとし、弊社は、本返金保証の提供にあたり、出品者、購入者から何らの対価も取得しません。
          %li 第1項に定めるほか、弊社は、本サポート制度の提供にあたり、出品者、購入者から何らの対価も取得しません。
      %section
        %h3 附則
        %p この規定は2018年6月11日から実施します。
      %ul.static-revision
        %li 2018年6月11日制定
  =render 'shared/cameraicon'
  =render 'shared/footer'
