%aside.aside_main_box
  .aside_main_content_box
    .aside_main_content_center
      .aside_main_content_left
        .aside_main_content_left_top スマホでかんたんフリマアプリ
        .aside_main_content_left_bottom 今すぐ無料ダウンロード！
        .aside_main_content_left_icon_box
          .aside_main_content_left_icon_m
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", alt: "", class: "aside_main_content_left_icon_m"
          .aside_main_content_left_icon_a_g{target: "_blank"}
            =link_to "", "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" 
            .aside_main_content_left_icon_a
              =link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", alt: "", class: "aside_main_content_left_icon_a_g"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" 
          .aside_main_content_left_icon_a_g{:target => "_blank"}
            =link_to "", "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
            .aside_main_content_left_icon_g
              =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", alt: "", class: "aside_main_content_left_icon_g"
      %figure.aside_main_content_right
        .aside_main_content_right_img
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", alt: "", class: "aside_main_content_right_img"
%footer.footer_main_box
  %nav.footer_main_top_box
    .footer_main_top_box_left
      %h2.footer_main_top_box_title メルカリについて
      %ul.footer_main_top_left_m_text_box
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "会社概要（運営会社）","https://about.mercari.com/" 
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "採用情報","" 
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "プレリリース","https://about.mercari.com/press/news/" 
        %li.footer_main_top_left_text
          .footer_main_top_left_t{target: "_blank"} 
            =link_to "公式ブログ","https://jp-news.mercari.com/"
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to"メルカリロゴ利用ガイドライン",""
        .footer_main_top_left_icon{target: "_blank"}
          =link_to "", "https://twitter.com/mercari_jp/"
          %svg.footer_main_top_left_icon_t{"aria-hidden": "true", height: "16", viewbox: "0 0 21 16", width: "21"}
            %path{d: "M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796", fill: "currentColor", "fill-rule": "evenodd"}
        .footer_main_top_left_icon{target: "_blank"}
          =link_to "", "https://www.facebook.com/mercarijp/"
          %svg.footer_main_top_left_icon_f{"aria-hidden": "true", height: "16", viewbox: "0 0 16 16", width: "16"}
            %path{d: "M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z", fill: "currentColor", "fill-rule": "evenodd"}
    .footer_main_top_box_left
      %h2.footer_main_top_box_title ヘルプ&amp;ガイド
      %ul.footer_main_top_box_h
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "メルカリガイド" ,""
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "らくらくメルカリ便" ,""
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "ゆうゆうメルカリ便" ,""
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "大型メルカリ便" ,""
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "車体取引ガイド" ,""
        %li.footer_main_top_left_text
          .footer_main_top_left_t{target: "_blank"} 
            =link_to "メルカリあんしん・あんぜん宣言！" ,""
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "偽ブランド品撲滅への取り組み", ""
        %li.footer_main_top_left_text
          .footer_main_top_left_t
            =link_to "メルカリボックス", ""
    .footer_main_top_box_p
      %h2.footer_main_top_box_title プライバシーと利用規約
      .footer_main_top_box_p_inner
        %ul.footer_main_top_box_p_in
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "プライバシーポリシー", privacy_users_path
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "メルカリ利用規約", tos_users_path
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "あんしんスマホサポート制度に関する利用特約", support_users_path
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "コンプライアンスポリシー", compliance_users_path
      .footer_main_top_box_p_inner
        %ul.footer_main_top_box_p_in
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "個人データの安全管理に係る基本方針", ""
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "特定商取引に関する表記", ""
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "資金決済法に基づく表示", ""
          %li.footer_main_top_left_text
            .footer_main_top_left_t
              =link_to "法令順守と犯罪抑止のために", "https://about.mercari.com/"
    .footer_main_top_cantry
      %h2.footer_main_top_box_title 国
      %ul.footer_main_top_cantry_box
        %li.footer_main_top_left_text
          .footer_main_top_cantry_name
            =link_to "日本",""
          .footer_main_top_cantry_name
            =link_to "United States", ""
  .footer_main_bottom
    .footer_main_bottom_box
      =link_to "", ""
      .footer_main_bottom_box_m
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", alt: "Mercari", class: "footer_main_bottom_box_m"
    %span.footer_main_bottom_tag © 2019 Mercari

