%aside.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
  .sc-jMMfwr.fqhRHK.sc-ejGVNB.ezxxhU
    .sc-eLdqWK.chTgRp
      .sc-iiUIRa.iVGjEK
        .sc-hgRTRy.bdqVww スマホでかんたんフリマアプリ
        .sc-iIHSe.jURitu 今すぐ無料ダウンロード！
        .sc-gldTML.dhItlX
          .sc-feryYK.jSTnBt
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", alt: "", class: "jSTnBt"
          .sc-cJOK.lgmdCB{target: "_blank"}
            =link_to "", "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" 
            .sc-ccSCjj.sc-jKmXuR.kDwjrS
              =link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", alt: "", class: "kDwjrS"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" 
          .sc-cJOK.lgmdCB{:target => "_blank"}
            =link_to "", "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
            .sc-ccSCjj.sc-elNKlv.fofvah
              =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", alt: "", class: "fofvah"
      %figure.sc-bYwvMP.kzQJRg
        .sc-hUMlYv.cYtUcH
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", alt: "", class: "cYtUcH"
%footer.sc-jxGEyO.jyXDlR
  %nav.sc-jdeSqf.drJXHf
    .sc-cBrjTV.hHaGTu
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-hMrMfs.cPzMyz メルカリについて
      %ul.sc-jdfcpN.ewFVzB
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "会社概要（運営会社）","https://about.mercari.com/" 
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "採用情報","" 
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "プレリリース","https://about.mercari.com/press/news/" 
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH{target: "_blank"} 
            =link_to "公式ブログ","https://jp-news.mercari.com/"
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to"メルカリロゴ利用ガイドライン",""
        .sc-eopZyb.icmRxI{target: "_blank"}
          =link_to "", "https://twitter.com/mercari_jp/"
          %svg.sc-bRBYWo.sc-eEieub.iQCNqi{"aria-hidden": "true", height: "16", viewbox: "0 0 21 16", width: "21"}
            %path{d: "M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796", fill: "currentColor", "fill-rule": "evenodd"}
        .sc-eopZyb.icmRxI{target: "_blank"}
          =link_to "", "https://www.facebook.com/mercarijp/"
          %svg.sc-kEYyzF.sc-eNNmBn.gJZiyP{"aria-hidden": "true", height: "16", viewbox: "0 0 16 16", width: "16"}
            %path{d: "M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z", fill: "currentColor", "fill-rule": "evenodd"}
    .sc-cBrjTV.hHaGTu
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-hMrMfs.cPzMyz ヘルプ&amp;ガイド
      %ul.sc-jdfcpN.ewFVzB
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "メルカリガイド" ,""
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "らくらくメルカリ便" ,""
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "ゆうゆうメルカリ便" ,""
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "大型メルカリ便" ,""
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "車体取引ガイド" ,""
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH{target: "_blank"} 
            =link_to "メルカリあんしん・あんぜん宣言！" ,""
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "偽ブランド品撲滅への取り組み", ""
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.iWAEfH
            =link_to "メルカリボックス", ""
    .sc-cBrjTV.sc-iCwjlJ.aWegH
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-hMrMfs.cPzMyz プライバシーと利用規約
      .sc-jUpvKA.dzjMfv
        %ul.sc-jdfcpN.ewFVzB
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "プライバシーポリシー", ""
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "メルカリ利用規約", ""
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "あんしんスマホサポート制度に関する利用特約", ""
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "コンプライアンスポリシー", ""
      .sc-jUpvKA.dzjMfv
        %ul.sc-jdfcpN.ewFVzB
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "個人データの安全管理に係る基本方針", ""
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "特定商取引に関する表記", ""
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "資金決済法に基づく表示", ""
          %li.sc-jRuhRL.cbYKEG
            .sc-kNBZmU.iWAEfH
              =link_to "法令順守と犯罪抑止のために", "https://about.mercari.com/"
    .sc-cBrjTV.sc-fkyLDJ.doTCXK
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-hMrMfs.cPzMyz 国
      %ul.sc-jdfcpN.ewFVzB
        %li.sc-jRuhRL.cbYKEG
          .sc-kNBZmU.sc-RbTVP.hIUIIb
            =link_to "日本",""
          .sc-kNBZmU.sc-RbTVP.hIUIIb
            =link_to "United States", ""
  .sc-gacfCG.igdlOb
    .sc-drlKqa.hdALBW
      =link_to "", ""
      .sc-bIqbHp.ioByYU
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", alt: "Mercari", class: "ioByYU"
    %span.sc-jGxEUC.exdDTv © 2019 Mercari
