.camera-main-box {
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;
}

.camera-main-link {
  display: block;
}

.camera-box-inner {
  text-align: center;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  padding-top: 32px;
}

.camera-description {
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.camera-icon {
  max-width: 100%;
  max-height: 100%;
  color: rgb(255, 255, 255);
  display: block;
  margin: 5px auto 0px;
  width: 60px;
  height: 54px;
}
