* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

* ::before, ::after {
  border-style: solid;
}


body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  
}