.eUokWJ {
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;
}

.judNJS {
  display: block;
}

@media (min-width: 768px){
  .cEMgYD {
  width: 160px;
  height: 160px;
  padding-top: 32px;
  }
}

.cEMgYD {
  text-align: center;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
}
@media (min-width: 768px){
.jsMoaY {
  font-size: 22px;
  }
}
.jsMoaY {
  color: rgb(255, 255, 255);
}


@media (min-width: 768px){
.bMYJEZ {
  width: 60px;
  height: 54px;
  margin-top: 8px;
  }
}
.bMYJEZ {
  max-width: 100%;
  max-height: 100%;
  color: rgb(255, 255, 255);
  display: block;
  margin: 5px auto 0px;
}