.purchase-confirmation-main{
  width: 700px;
  margin: 0 auto;
}
.purchase-confirmation-title-T{
    margin: 0;
    padding:16px;
    font-size:22px;
    line-height: 1.5;
    text-align: center;
}
.purchese-confirm-subsections{
  margin: 40px auto 0;
  padding: 24px 0;
  max-width: 320px;
  border-top: 1px solid #f5f5f5;
  display: flex;
  flex-wrap: wrap;
}
.product-name{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  width: calc(100% - 80px);
  margin: 0 0 0 16px;
}
.purchase-confirmation-form
{
  width: 100%;
}
.form-sub-price-k{
  .product-price{
    text-align: center;
    margin: 8px 0 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 22px;
    .fee-side{
      margin: 0 0 0 8px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.no-point-k{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  background: #ccc;
  margin: 16px 0 0;
}
.pay-amount{
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  .payment-subtitle{
    font-size:16px;
  }
  .payment-price{
    font-size: 28px;
    text-align: center;
  }
}
.change-link-purchase-confirm{
  display: block;
  text-align: right;
  color: #0099e8;
  text-decoration: none;
}
.buyer-address>*, .purchase-info>* {
  display: block;
  width: 320px;
}
.form-buy-bottan_k{
  margin: 0;
  font-weight: 600;
  width: 100%;
  height: 50px;
  background-color: #ccc;
  padding: 16px;
  text-align: center;
}
.purchase-info figure{
  margin: 0;
}
.pr_check_box{
  padding: 24px 87.5px 60px 87.5px;
  height:100%;
  .pr_check_box_k{
    height:100%;
    margin: 0 102px;
    .form-sub-image-uploader-k{
      padding: 40px;
      pr_imaga_box_k{
        float: left;
      }
      .pr_name_box_k{
        text-align: center;
        float: right;
        font-size: 16px;
        line-height: 1.5;
        width: 170px;
      }
    }
    .form-sub-price-k{
      line-height: 1.5;
      text-align: center;
      height:33px;
      .price_box{
        margin: 8px auto 0 auto;
        font: 66.66667% sans-serif;
        font-weight: bold;
        font-size: 22px;
      }
      .option_box_k{
        position: relative;
        font: 66.66667% sans-serif;
        font-size: 14px;
        bottom: 25px;
        left: 70px;
      }
    }
    .form-buy_k_nopoint{
      padding-top: 15px;
      .form-buy_bottan_k{
        width: 100%;
        height: 50px;
        background-color: #ccc;
        padding: 16px;
        text-align: center;
      }
    }
    .form-buy_price{
      padding-top: 16px;
      font: 66.66667% sans-serif;
      .form-buy_left_k{
        width: 50%;
        float: left;
        text-align: left;
        padding: 16px 0;
        font-size: 18px;
        font-weight: 600;
        padding-top: 24px;
      }
      .form-buy_right_k{
        width: 50%;
        float: right;
        text-align: right;
        padding: 16px 0;
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}