.purchase-confirmation-main{
  width: 700px;
  margin: 0 auto;
}
.purchase-confirmation-title-T{
    margin: 0;
    padding:16px;
    font-size:22px;
    line-height: 1.5;
    text-align: center;
}
.purchese-confirm-subsections{
  width: 700px;
  margin: auto 0;
  padding: 24px 190px;
  border-top: 1px solid #f5f5f5;
  display: flex;
  flex-wrap: wrap;
}
.product-name{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  width: calc(100% - 80px);
  margin: 0 0 0 16px;
}
.purchase-confirmation-form
{
  width: 100%;
}
.form-sub-price-k{
  .product-price{
    text-align: center;
    margin: 8px 0 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 22px;
    .fee-side{
      margin: 0 0 0 8px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.no-point-k{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  background: #ccc;
  margin: 16px 0 0;
}
.pay-amount{
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  .payment-subtitle{
    font-size:18px;
  }
  .payment-price{
    font-size: 28px;
    text-align: center;
  }
}
.change-link-purchase-confirm{
  display: block;
  text-align: right;
  color: #0099e8;
  text-decoration: none;
}
.buyer-address>*, .purchase-info>* {
  display: block;
  width: 320px;
}
.form-buy-bottan_k{
  margin: 0;
  font-weight: 600;
  width: 100%;
  height: 50px;
  background-color: #ccc;
  padding: 16px;
  text-align: center;
}
.purchase-info figure{
  margin: 0;
}