@media screen and (min-width: 768px) {
  .h-single-container-sa {
    padding: 0 0 200px;
  }
}

@media screen and (min-width: 768px) {
  .h-single-header-sa {
    height: 128px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
.h-single-header-sa h1 {
    margin: 40px 0 0;
    display: inline-block;
 }
}

@media screen and (min-width: 768px) {
  .h-single-header-sa a {
    width: 185px;
    height: 49px;
    line-height: 49px;
  }
 }

@media screen and (min-width: 768px) {
  .h-single-header-sa img {
    width: 185px;
    height: 49px;
  }
}