/* aside */
.aside_main_box {
  width: 1440px;
  height: 260px;
  color: rgb(255, 255, 255);
  background-position: center center;
}

.aside_main_content_box {
  width: 1440px;
  height: 260px;
  background: url(/images/room.png);
  background-position: center center;
}

.aside_main_content_center {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 750px;
  height: 260px;
  margin: 0px auto;
}

.aside_main_content_left {
  width: 420px;
  height: 260px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.aside_main_content_left_top{
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.aside_main_content_left_bottom {
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin-bottom: 20px;
}

.aside_main_content_left_icon_box{
  height: 68px;
  width: 420px;
}

.aside_main_content_left_icon_m{
display: inline;
width: 68px;
}

.aside_main_content_left_icon_a_g{
  display: inline;
}

.aside_main_content_left_icon_a {
  margin-right: 8px;
  display: inline;
}

.aside_main_content_left_icon_g{
  margin-right: 8px;
  display: inline;
}

figure {
  width: 250px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.aside_main_content_right_img {
  height: 246px;
  width: 300px;
}

/* footer */
.footer_main_box {
  width: 1440px;
  height: 389px;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
}

@media (min-width: 1068px){
  .footer_main_top_box {
  width: 1020px;
  height: 296px;
  margin: 0px auto;
  }
}

.footer_main_top_box_left:first-child {
  width: 207px;
  height: 240px;
  padding-left: 0px;
}

@media (min-width: 1068px){
  .footer_main_top_box_left {
  width: auto;
  padding: 0px 40px 0px 0px;
  }
}

.footer_main_top_box_left {
  display: inline-block;
  margin-top: 18px;
  vertical-align: top;
  width: 250px;
  padding: 0px 10px;
}

.footer_main_top_box_title {
  font-size: 16px;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footer_main_top_left_text {
  line-height: 1.4em;
  margin: 16px 0px 0px;
}

.footer_main_top_left_t {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.footer_main_top_left_icon {
  display: inline-block;
  margin-top: 30px;
}

.footer_main_top_left_icon_t {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 30px;
  margin-right: 20px;
}


.footer_main_top_left_icon_f {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 26px;
}

:not(svg) {
  transform-origin: 0px 0px;
}

@media (min-width: 1068px){
  .footer_main_top_box_p {
    margin-top: 18px;
    padding-right: 40px;
    width: 43%;
  }
}

@media (min-width: 1068px){
  .footer_main_top_box_p {
    width: auto;
    padding: 0px 40px 0px 0px;
  }
}

.footer_main_top_box_p {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
}

.footer_main_top_box_p_inner {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  width: 199px;
}

@media (min-width: 1068px){
  .footer_main_top_cantry {
  margin-top: 18px;
  margin-left: 10px;
  width: auto;
  }
}

@media (min-width: 1068px){
  .footer_main_top_cantry {
  width: auto;
  padding: 0px 40px 0px 0px;
  }
}

.footer_main_top_cantry {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  width: 112px;
}

@media (min-width: 1068px){
  .footer_main_top_cantry_name {
  display: block;
  margin: 16px 0px 0px;
  }
}

.footer_main_top_cantry_name {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-right: 30px;
}

@media (min-width: 1068px){
  .footer_main_bottom {
  width: 1020px;
  margin: 30px auto 20px;
  }
}

@media (min-width: 768px){
  .footer_main_bottom {
  margin: 55px auto 10px;
  }
}

.footer_main_bottom {
  -webkit-box-align: center;
  display: flex;
  width: 1020px;
  margin: 30px auto 20px;
  align-items: center;
}

.footer_main_bottom_box {
  text-align: center;
}

.footer_main_bottom_box_m {
  height: 33px;
  width: 124px;
  margin-left: 30px;
  text-align: left;
}

@media (min-width: 768px){
  .footer_main_bottom_tag {
  text-align: center;
  }
}

.footer_main_bottom_tag {
  padding-left: 15px;
  width: 75%;
}