/* header */

* ::before, ::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="search" i] {
  -webkit-appearance: searchfield;
  box-sizing: border-box;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}

ol, ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

.header_main_box {
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 3;
  height: 100px;
}

.header_main_content_box {
  width: 1020px;
  margin: 0px auto;
  padding: 8px 0px 0px;
}

.header_first_box {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header_mercari_box {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  margin-right: 45px;
}

.header_top_link {
  height: 36px;
  width: 134px;
}

.header_serch {
  position: relative;
  width: 100%;
}

.header_serch_box {
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.header_serch_button {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}

.header_serch_button_icon {
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin-top: 2px;
  width: 14px;
}

svg:not(:root) {
  overflow: hidden;
}

path[Attributes Style] {
  fill: currentcolor;
  fill-rule: nonzero;
  d: path("M 11.435 10.063 h -0.723 l -0.256 -0.247 a 5.92 5.92 0 0 0 1.437 -3.87 a 5.946 5.946 0 1 0 -5.947 5.947 a 5.92 5.92 0 0 0 3.87 -1.437 l 0.247 0.256 v 0.723 L 14.637 16 L 16 14.637 l -4.565 -4.574 Z m -5.489 0 A 4.111 4.111 0 0 1 1.83 5.946 A 4.111 4.111 0 0 1 5.946 1.83 a 4.111 4.111 0 0 1 4.117 4.116 a 4.111 4.111 0 0 1 -4.117 4.117 Z");
}

.header_second_box {
  width: 1020px;
  height: 44px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 8px;
}

.header_second_left_box {
  width: 308.45px;
  height: 44px;
  display: flex;
  margin-left: -3px;
}

.header_second_w_box:first-child {
  padding-left: 0px;
}

.header_second_w_box {
  cursor: pointer;
  width: 159.45px;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
}

.header_second_w_box_inner {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}

.header_second_category_icon {
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
}

.header_second_brand_icon{
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
}

path[Attributes Style] {
  fill: currentcolor;
  fill-rule: nonzero;
  d: path("M 6.315 0 L 4.473 1.806 L 2.833 0.019 L 0.73 1.977 l 1.69 1.84 L 1.198 5.02 c -1.594 1.594 -1.594 4.188 -0.01 5.772 L 6.3 16 h 13.272 a 3.08 3.08 0 0 0 3.077 -3.077 V 3.076 A 3.08 3.08 0 0 0 19.57 0 H 6.315 Z m 13.46 12.925 a 0.211 0.211 0 0 1 -0.205 0.205 H 7.504 L 3.227 8.771 a 1.226 1.226 0 0 1 -0.01 -1.71 L 4.38 5.92 l 1.28 1.371 a 2.68 2.68 0 1 0 2.13 -1.93 L 6.433 3.907 L 7.49 2.87 h 12.082 a 0.211 0.211 0 0 1 0.206 0.205 v 9.848 h -0.002 Z");
}

.header_second_right_box {
  display: flex;
  position: relative;
  width: 530.31px;
}

@media (min-width: 1068px){
  .header_second_right_box_four:first-child {
  display: block;

  }
}

.header_second_right_box_four {
  height: 44px;
  position: relative;
  padding: 0px 7px;
  width: 127px;
  float:right;
}

.header_second_right_box_inner {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
  width: 129px;
}

.header_second_right_good_icon{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  color: rgb(204, 204, 204);
  margin-right: 10px;
  width: 19px;
}

path[Attributes Style] {
  fill: currentcolor;
  d: path("M 8.08 12.711 l -0.08 0.082 l -0.08 -0.082 C 4.112 9.188 1.6 6.858 1.6 4.496 c 0 -1.635 1.2 -2.861 2.8 -2.861 c 1.232 0 2.432 0.81 2.856 1.929 h 1.496 c 0.416 -1.12 1.616 -1.93 2.848 -1.93 c 1.6 0 2.8 1.227 2.8 2.862 c 0 2.362 -2.512 4.692 -6.32 8.215 M 11.6 0 C 10.208 0 8.872 0.662 8 1.708 C 7.128 0.662 5.792 0 4.4 0 C 1.936 0 0 1.978 0 4.496 c 0 3.09 2.72 5.608 6.84 9.433 L 8 15 l 1.16 -1.079 C 13.28 10.104 16 7.586 16 4.496 C 16 1.978 14.064 0 11.6 0");
  fill-rule: evenodd;
}

.header_second_right_notice_icon {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  color: rgb(204, 204, 204);
  margin-right: 10px;
  width: 17px;
}

.header_second_right_notice_number{
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  font-size: 12px;
  height: 20px;
  left: 6px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 20px;
  border-radius: 50%;
}

.header_second_right_todo_icon {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  color: rgb(204, 204, 204);
  margin-right: 10px;
}

.header_second_right_my_icon {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}