*{
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}
body{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
}
main {
  display: block;
}
section {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}
input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  background-color: transparent;
}
::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
  color: #0099e8;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}
label {
  display: inline-block;
}
pre {
  overflow: auto;
}

.flexcontainer {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.bold {
  font-weight: 600;
}
.product-new-form {
  border-top: 1px solid #eee;
}
.help-link-icon-t {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.must-filled-mark-t {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background: #ea352d;
}
.form-sub-t {
  padding: 40px;
  border-top: 1px solid #eee;
}
.sub-title-t {
  color: #888;
  font-size: 14px;
}
.product-new-header-T {
  height: 128px;
  text-align: center;
  width: 100%;
}
.product-new-header-T a {
  display: inline-block;
  width: 120px;
  height: 33px;
  margin: 0 8px 0 0;
  line-height: 33px;
}
.product-new-header-T h1 {
  margin: 40px 0 0;
  display: inline-block;
}
.product-new-header-T img {
  width: 185px;
  height: 49px;
}
.img-uploader-box {
  width: 620px;
  padding: 40px;
}
.img-uploader-head+p {
  margin: 8px 0 0;
  line-height: 1.5;
}
.img-uploader-drop-box {
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  -webkit-transition: -webkit-box-shadow ease-out .3s;
  transition: -webkit-box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
  cursor: pointer;
  margin-left: 2%;
}
.img-uploader-drop-box {
  width: 620px;
  padding: 40px;
}
.img-uploader-drop-box.have-item-0 {
  width: 100%;
  margin-left: 0;
}
.img-uploader {
  display: block;
}
.img-uploader ul {
  width: 100%;
}
.product-new-formtitle-T {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  padding: 32px 16px;
  font-size: 22px;
}
.product-new-main-T {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
.icon-arrow-bottom, .icon-camera {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-group {
  margin: 40px 0 0;
}
.form-group label {
  font-weight: 600;
}
.form-group select {
  width: 100%;
}
.form-group .input-default {
  width: 100%;
  margin: 8px 0 0;
}
.form-group:first-child {
  margin: 0;
}
.form-group label+.textarea-default {
  margin: 8px 0 0;
}
.form-box {
  width: 400px;
  margin: 0;
}
.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  margin: 40px 0 0;
}
.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  width: 45%;
  margin: 24px auto 0;
}
.btn-box p {
  line-height: 1.5;
}
.price-input {
  text-align: right;
}
.input-default {
  margin: 0;
  text-align: right;
}
.price>li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}
.img-uploader-head {
  font-size: 16px;
}
.dropbox-container {
  display: block;
  width: 620px;
  margin: 16px auto 0;
}
.img-uploader-container {
  display: inline;
}
.img-uploader-drop-box pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.price-flexcontainer-T {
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.price-flexcontainer-T .price-input{
  width: 50%;
}

.product-new-footer-T {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
}
.product-new-footer-T p {
  margin: 8px 0 0;
}
.product-new-footer-T small {
  font-size: 13px;
}
.product-new-footer-T li{
  display: inline-block;
  font-size: 12px;
}
.product-new-footer-T a {
  display: block;
  color: #333;
}
.product-new-footer-T-logo {
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
}