html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}
body {
  position: relative;
  height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}
body {
  line-height: 1;
}

.wYTWu{
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  height: 3000px;
}


/* main */
.main-top-content{
  width: 1440px;
  padding: 0px;
  margin: 0px auto;
}

.top-content{
  position: relative;
  height: 2500px;
}


// 商品一覧表示
.main.products.content{
  width: 1020px;
  height: 544px;
}
.products.content.box{
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  height: 544px;
}

.products.content.boxes{
  width: 20%;
  padding: 10px;
  height: 50%;
  display: inline-block;
  .products.content.boxes.inner{
    visibility: visible;
    transition: all 0.5s ease 0s;
    opacity: 1; 
    height:252px;
    width: 208px;
  }
}


.products.link{
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  height: 252px;
}
.style_fluid__19gwX {
  width: 100%;
  height: 252px;
}

.style_card__1SiAF, .style_card__1SiAF figcaption {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.style_card__1SiAF {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.18);
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}
.style_card__1SiAF figcaption {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #222;
  font-size: 14px;
  height: 64px;
  line-height: 1.4em;
  padding: 0 12px;
  white-space: normal;
  word-break: break-word;
}

.style_card__1SiAF, .style_card__1SiAF figcaption {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.style_card__1SiAF figcaption span {
  display: inline-block;
  height: 2.8em;
  overflow: hidden;
  position: relative;
}

.style_thumbnail__N_xAi {
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 0 100%;
}
.style_thumbnail__N_xAi span[aria-label=Price] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0,0,0,.4);
  border-radius: 0 14px 14px 0;
  bottom: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 17px;
  height: 32px;
  height: 28px;
  letter-spacing: .02em;
  margin: 0;
  padding: 0 12px;
  position: absolute;
  z-index: 2;
}
.style_fluid__19gwX .style_thumbnail__N_xAi img {
  bottom: 0;
  position: absolute;
  top: 0;
}
.style_thumbnail__N_xAi img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}

// ここまで

// スライド

.sc-dliRfk.lnMXqm{
  height: 390px;
  background-size: auto;
  position: relative;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151c….jpg);
  background-position: center center;
}
.sc-kLIISr.fqOIIb{
  -webkit-box-align: center;
  align-items: center;
  max-width: 860px;
  display: flex;
  height: 100%;
  position: relative;
  margin: 0px auto;
}
.jAEZMX {
  background-size: auto;
  height: 390px;
  position: absolute;
  top: 0px;
  left: 700px;
}
.PkUrY {
  height: initial;
  position: relative;
  width: 860px;
  padding: 20px 40px;
  margin: auto;
}
.bqsQJl {
  font-size: 60px;
  white-space: normal;
  padding: 0px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 16px;
  color: black;
}
.SGfox {
  font-size: 18px;
  width: 780px;
  height: 62px;
}

.heyozC {
  background-color: initial;
  position: initial;
  text-align: left;
  padding: 0px;
  bottom: 0;
  left: 0;
  width: 780px;
  height: 50px;
}
.gxiFBJ{
  width: 170px;
  height: 50px;
  display: inline!important;
}
.jcELSQ {
  height: 50px;
  display: inline!important;
  width: 170px;
  
}
@media (min-width: 1068px){
  .fbxObv {
  height: 390px;
  background-size: auto;
  }
}
.fbxObv {
  position: relative;
  background-size: cover;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88….jpg);
  background-position: center center;
}

@media (min-width: 1068px){
  .bXarHA {
  height: 390px;
  background-size: auto;
  }
}
.bXarHA {
  position: relative;
  background-size: cover;
  height: 170px;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151c….jpg);
  background-position: center center;
}

@media (min-width: 768px){
.gRFiVU {
  -webkit-box-align: center;
  align-items: center;
  max-width: 860px;
  }
}
.gRFiVU {
  -webkit-box-align: start;
  align-items: start;
  display: flex;
  height: 100%;
  position: relative;
  margin: 0px auto;
}

@media (min-width: 768px){
  .kYmNYF {
  height: initial;
  }
}
.kYmNYF {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 20px 40px;
}

@media (min-width: 1068px){
  .iwJlzN {
  font-size: 60px;
  }
}
@media (min-width: 768px){
  .iwJlzN {
  font-size: 40px;
  white-space: normal;
  padding: 0px;
  }
}
.iwJlzN {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 16px;
  white-space: pre-wrap;
}



@media (min-width: 1068px){
  .dnojdK {
    margin-top: -390px;
    }
  }
  @media (min-width: 768px){
    .ibydfh {
    padding: 56px 0px 30px;
    }
  }
  .ibydfh {
    background-color: rgb(255, 255, 255);
    left: 50%;
    margin-left: -50vw;
    position: relative;
    top: 0px;
    width: 100vw;
    padding: 40px 20px 20px;
  }
  .bVIPta {
    margin-bottom: 16px;
    text-align: center;
  }
  
  .common_fontFamily__3-3Si {
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }
  @media (min-width: 768px){
    .style_responsiveLv1__3ygH4 {
    font-size: 28px;
    }
  }
  .style_heading__3qSF6 {
    font-weight: 600;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
  }
  .hTgxLd {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
  }
  .bVIPta {
    margin-bottom: 16px;
    text-align: center;
  }
  .hTgxLd {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
  }
  @media (min-width: 768px){
    .cmQcPI {
    display: block;
    text-align: center;
    width: 100%;
    margin: -10px 0px 0px -10px;
    }
  }
  @media (min-width: 768px){
    .gUHLnE {
    margin: 10px 0px 0px 10px;
    }
  }
  .gUHLnE {
    display: inline-block;
  }
  .emrFJX {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px 16px;
  }
  @media (min-width: 768px){
    .lcfgps {
    padding: 42px 0px 100px;
    margin: 0 auto;
    width: 1020px;
    height: 2000px;
    }
  }
  .kyoAKq{
    height: 600px;
  }
  .hEIctR {
    margin-bottom: 16px;
  }
  .iyaAGP {
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .exknGn {
    flex: 1 1 0%;
  }
  .common_fontFamily__3-3Si {
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }
  @media (min-width: 768px){
  .style_responsiveLv2__3K0hn {
    font-size: 24px;
    }
  }
  .style_heading__3qSF6 {
    font-weight: 600;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 768px){
  .kfbxDu {
    font-size: 14px;
    padding: 5px 16px 5px 5px;
    }
  }
  .kfbxDu {
    color: rgb(0, 149, 238);
    display: block;
    font-weight: 600;
    position: relative;
  }
@media (min-width: 768px){
.kfbxDu::before {
  height: 10px;
  width: 10px;
  }
}
  .kfbxDu::before {
  bottom: 0px;
  content: "";
  position: absolute;
  right: 2px;
  top: 0px;
  transform: rotate(-45deg);
  border-bottom: 2px solid rgb(0, 149, 238);
  border-left: 0px;
  border-top: 0px;
  border-right: 2px solid rgb(0, 149, 238);
  margin: auto;
  }


/*ログインボタン長谷川記入*/
.sc-cJSrbW_k{
  .sc-ksYbfQ_k{
    float:left;
    .link_box_1k{
      background-color: rgb(234, 53, 45);
      width: 106px;
      height: 32px;
      padding:8px 10px;
      text-align: center;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      color: rgb(255, 255, 255);
      border-radius: 4px;
      a{
        position: relative;
        width: 100%;
        height: 100%;
      }

    }
  }
  .sc-frDJqD_k{
    float:left;
    .log_in_k{
      padding:8px 10px;
      width: 76.75px;
      height: 32px;
      float:left;
      text-align: center;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 149, 238);
      display: block;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(0, 149, 238);
      border-image: initial;
      border-radius: 4px;
      margin-left: 11px;
    }
  }
}
/*ここまで*/

.ct_bo_k{
  .ct_1_k{
    height: 30px;
  }
  .ct_2_k{
    height: 30px;
  }
  .ct_3_k{
    height: 30px;
  }
}