// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}
body {
  position: relative;
  height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}
body {
  line-height: 1;
}


:root {
  cursor: auto;
}
:root {
  /* background-color: #fff; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font: 66.66667% sans-serif;
}
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

html {
  color: -internal-root-color;
}
*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}
::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}
::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
::selection {
  color: currentColor;
}
::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}




.bread-bar {
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
}

@media screen and (min-width: 1068px) {
  .bread-bar ul {
    width: 1020px;
  }
}

@media screen and (min-width: 768px) {
  .bread-bar ul {
    overflow: visible;
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
}

.bread-bar ul {
  padding: 16px;
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
nav ol, nav ul {
  list-style: none;
}
ul, ol {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .bread-bar li {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.bread-bar li {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
}

.bread-bar a {
  color: #333;
}
a {
  /* color: #0099e8; */
  text-decoration: none;
}
a, area, button, input, label, select, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a {
  text-decoration: none;
}

li {
  text-align: -webkit-match-parent;
}

.bread-bar .icon-arrow-right {
  margin: 0 8px;
  font-size: 9px;
  color: #888;
}
i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: '\e005';
}

.bread-bar li:last-child {
  font-weight: 600;
}

@media screen and (min-width: 1068px) {
  .l-container {
    margin: 40px auto 0;
    width: 1020px;
  }
}

@media screen and (min-width: 768px) {
  .l-container {
    width: 1020px;
  }
}

.l-container {
  margin: 24px auto 0;
  padding: 0 0 40px;
}
main {
    display: block;
}

@media screen and (min-width: 1068px) {
  .l-content {
    float: right;
  }
}

@media screen and (min-width: 768px) {
  .l-content {
    width: 700px;
  }
}



@media screen and (min-width: 768px) {
  .mypage-user-icon {
    height: 200px;
  }
}

.mypage-user-icon {
  position: relative;
  height: 155px;
  padding: 20px;
  background: url(/images/user.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.mypage-user-icon>a {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #333;
}

.mypage-user-icon figure {
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
}

img {
  vertical-align: middle;
}
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

.mypage-user-icon h2 {
  margin: 8px 0 0;
  font-size: 14px;
}
.bold {
  font-weight: 600;
}
h2 {
  font-size: 22px;
  line-height: 1.4;
}

.mypage-number {
  margin: 8px 0 0;
  font-size: 0;
}

.mypage-number div {
  display: inline-block;
  font-size: 14px;
}

.mypage-number span {
  margin: 0 0 0 8px;
  font-size: 16px;
}


.mypage-number div+div {
  margin: 0 0 0 16px;
}
.mypage-number div {
  display: inline-block;
  font-size: 14px;
}

.mypage-tab-container-notification-todo {
  margin: 0;
  background: #fff;
}

.mypage-tabs, .listing-tabs, .review-history-tabs {
  border: 0;
  background: #eee;
  font-size: 0;
}

.mypage-tabs li.active, .listing-tabs li.active, .review-history-tabs li.active {
  background: #fff;
}
.mypage-tabs li {
  width: 50%;
}
.mypage-tabs li, .listing-tabs li, .review-history-tabs li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

h3 {
  font-size: 22px;
}

.mypage-tabs li.active a, .listing-tabs li.active a, .review-history-tabs li.active a {
  border-top: 2px solid #ea352d;
}
.mypage-tabs a, .listing-tabs a, .review-history-tabs a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
}

.mypage-tabs li {
  width: 50%;
}

.tab-content .tab-pane.active {
  display: block;
}
.tab-content .tab-pane {
  display: none;
}

.mypage-item-list li.mypage-item-not-found {
  border: 0;
}
.mypage-item-list li:first-child {
  border-bottom: 1px solid #eee;
}
.mypage-item-list li:last-child {
  border: 0;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mypage-item-not-found {
  padding: 160px 0 60px;
  background: url(/images/gray_icon.png);
  background-position: center 40px;
  background-size: 78px 85px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}


.mypage-item-list li:first-child {
  border-bottom: 1px solid #eee;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}

.mypage-item-link {
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;
}

.mypage-item-link figure {
  position: relative;
  overflow: hidden;
  float: left;
  width: 48px;
  height: 48px;
}

.mypage-item-list img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.lazyload, .lazyloading {
  opacity: 0;
}
img {
  vertical-align: middle;
}

.mypage-item-body {
  margin: 0 40px 0 68px;
}

.mypage-item-text {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  max-height: 4.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.mypage-item-link time {
  display: inline-block;
  color: #888;
}

.mypage-item-link .icon-time {
  margin: 0 8px 0 0;
}
i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-time {
  font-size: 16px;
  vertical-align: middle;
}

.mypage-item-link time span {
  vertical-align: middle;
}

.mypage-item-link .icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mypage-item-list li:last-child {
  border: 0;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mypage-go-list {
  padding: 16px;
}

.mypage-go-list a {
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  line-height: 56px;
  text-align: center;
}

/* right-contents */
/* 購入した商品 */
.mypage-tab-container-notification-todo {
  margin: 0;
  background: #fff;
}

.mypage-tabs, .listing-tabs, .review-history-tabs {
  border: 0;
  background: #eee;
  font-size: 0;
}

.mypage-tabs li.active, .listing-tabs li.active, .review-history-tabs li.active {
  background: #fff;
}
.mypage-tabs li {
  width: 50%;
}
.mypage-tabs li, .listing-tabs li, .review-history-tabs li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}


.mypage-tabs li.active a, .listing-tabs li.active a, .review-history-tabs li.active a {
  border-top: 2px solid #ea352d;
}

.mypage-tabs a, .listing-tabs a, .review-history-tabs a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
}

.tab-content .tab-pane.active {
  display: block;
}
.tab-content .tab-pane {
  display: none;
}

.mypage-item-list li.mypage-item-not-found {
  border: 0;
}
.mypage-item-list li:first-child {
  border-bottom: 1px solid #eee;
}
.mypage-item-list li:last-child {
  border: 0;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mypage-item-not-found {
  padding: 160px 0 60px;
  background: url(/jp/assets/img/common/common/logo-gray-icon.svg?35731317);
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 78px 85px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}

.mypage-tab-container {
  margin: 40px 0 0;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .mypage-tab-head {
    padding: 0 16px;
  }
}

.mypage-tab-head {
    padding: 0 4%;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
}
h2 {
    font-size: 22px;
    line-height: 1.4;
}

.mypage-tabs, .listing-tabs, .review-history-tabs {
  border: 0;
  background: #eee;
  font-size: 0;
}

.mypage-tabs li.active, .listing-tabs li.active, .review-history-tabs li.active {
  background: #fff;
}
.mypage-tabs li {
  width: 50%;
}
.mypage-tabs li, .listing-tabs li, .review-history-tabs li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

/* left-content */
@media screen and (min-width: 1068px) {
  .l-side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .l-side {
    width: 700px;
  }
}

.l-side {
    width: 280px;
    margin: 40px auto 0;
}

.mypage-nav-list li:first-child {
  border: 0;
}
.mypage-nav-list li {
  border-top: 1px solid #eee;
}

@media screen and (min-width: 768px) {
  .mypage-nav-head {
    margin: 40px 0 0;
  }
}

.mypage-nav-head {
    margin: 40px 4% 0;
    font-size: 16px;
}

.mypage-nav-head+.mypage-nav-list {
  margin: 8px 0 0;
}

.mypage-nav-list-item.active {
  background: #eee;
  font-weight: 600;
}
.mypage-nav-list-item {
  position: relative;
  display: block;
  min-height: 48px;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
}

.mypage-nav-list-item.active .icon-arrow-right {
  color: #333;
}
.mypage-nav-list-item .icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}
i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: '\e005';
}

/* footer */
.jyXDlR {
  width: 1440px;
  height: 389px;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
}
@media (min-width: 1068px){
  .drJXHf {
  width: 1020px;
  height: 296px;
  margin: 0px auto;
  }
}
.hHaGTu:first-child {
  width: 207px;
  height: 240px;
  padding-left: 0px;
}
@media (min-width: 1068px){
.hHaGTu {
  width: auto;
  padding: 0px 40px 0px 0px;
  }
}
.hHaGTu {
  display: inline-block;
  margin-top: 18px;
  vertical-align: top;
  width: 250px;
  padding: 0px 10px;
}
.cPzMyz {
  font-size: 16px;
}
.common_fontFamily__3-3Si {
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
}
.style_medium__1YL67 {
  font-size: 17px;
}
.style_heading__3qSF6 {
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.ewFVzB{height: 202px;
}
.cbYKEG {
  line-height: 1.4em;
  margin: 16px 0px 0px;
}
.iWAEfH {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icmRxI {
  display: inline-block;
  margin-top: 30px;
}
.iQCNqi {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 30px;
  margin-right: 20px;
}
path[Attributes Style] {
  fill: currentcolor;
  d: path("M 6.343 15.969 c 7.61 0 11.773 -6.134 11.773 -11.444 c 0 -0.172 0 -0.345 -0.008 -0.517 a 8.303 8.303 0 0 0 2.066 -2.086 a 8.576 8.576 0 0 1 -2.38 0.635 A 4.07 4.07 0 0 0 19.616 0.329 a 8.377 8.377 0 0 1 -2.63 0.973 a 4.186 4.186 0 0 0 -3.019 -1.27 c -2.283 0 -4.14 1.803 -4.14 4.023 c 0 0.314 0.041 0.62 0.106 0.918 A 11.866 11.866 0 0 1 1.404 0.769 a 3.936 3.936 0 0 0 -0.557 2.023 c 0 1.396 0.735 2.628 1.84 3.35 a 4.278 4.278 0 0 1 -1.872 -0.503 v 0.055 c 0 1.945 1.428 3.577 3.317 3.945 c -0.347 0.094 -0.71 0.141 -1.09 0.141 c -0.266 0 -0.524 -0.023 -0.774 -0.07 c 0.524 1.6 2.057 2.76 3.865 2.792 a 8.452 8.452 0 0 1 -5.14 1.725 a 8.19 8.19 0 0 1 -0.985 -0.054 a 12.02 12.02 0 0 0 6.335 1.796");
  fill-rule: evenodd;
}
.gJZiyP {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 26px;
}

path[Attributes Style] {
  fill: currentcolor;
  d: path("M 15.111 0 H 0.89 A 0.889 0.889 0 0 0 0 0.889 V 15.11 c 0 0.491 0.398 0.889 0.889 0.889 h 7.658 V 9.813 H 6.469 V 7.391 h 2.078 V 5.613 c 0 -2.066 1.262 -3.193 3.11 -3.193 c 0.623 -0.002 1.244 0.03 1.863 0.096 v 2.15 h -1.276 c -1.002 0 -1.197 0.478 -1.197 1.178 v 1.543 h 2.397 l -0.31 2.422 h -2.087 V 16 h 4.064 c 0.491 0 0.889 -0.398 0.889 -0.889 V 0.89 A 0.889 0.889 0 0 0 15.111 0 Z");
  fill-rule: evenodd;
}
:not(svg) {
  transform-origin: 0px 0px;
}
@media (min-width: 1068px){
  .aWegH {
    margin-top: 18px;
    padding-right: 40px;
    width: 43%;
  }
}
@media (min-width: 1068px){
  .aWegH {
    width: auto;
    padding: 0px 40px 0px 0px;
  }
}
.aWegH {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
}
.dzjMfv {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  width: 199px;
}
@media (min-width: 1068px){
  .doTCXK {
  margin-top: 18px;
  margin-left: 10px;
  width: auto;
  }
}
@media (min-width: 1068px){
  .doTCXK {
  width: auto;
  padding: 0px 40px 0px 0px;
  }
}
.doTCXK {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  width: 112px;
}
@media (min-width: 1068px){
  .hIUIIb {
  display: block;
  margin: 16px 0px 0px;
  }
}
.hIUIIb {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-right: 30px;
}
