%div
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    .sc-iGrrsa.bkYzxq
      .sc-bmyXtO.kuWFUJ
        .sc-exkUMo.fpALyF
          =link_to "","https://www.mercari.com/jp/featured/camp/"
          .ashhsL
            =image_tag "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?1248199994", alt: "", class:"ashhsL"
    .sc-drKuOJ.ibydfh
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4.sc-gRnDUn.bVIPta 人気のカテゴリー
      .sc-cmjSyW.hTgxLd
        %ul.sc-sdtwF.cmQcPI
          %li.sc-iYUSvU.gUHLnE
            .sc-cHSUfg.sc-cTjmhe.emrFJX
              = link_to "トップス",""
    .sc-gkFcWv.lcfgps
      .sc-hUfwpO.kyoAKq
        .sc-dRFtgE.hEIctR.sc-cqpYsc.iyaAGP{name: "scroll-1"}
          %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-hBbWxd.exknGn 新着アイテム
          .sc-dyGzUR.kfbxDu
            = link_to"もっと見る",""

        -# 出品ボタン
    %exhibit.sc-bHwgHz.eUokWJ
      .sc-krDsej.judNJS
        .sc-hzDkRC.cEMgYD
          .sc-jhAzac.jsMoaY 
            =link_to"出品",""
          %svg.sc-kGXeez.sc-fBuWsC.bMYJEZ{"aria-hidden": "true", height: "16", viewbox: "0 0 18 16", width: "18"}
            %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor", "fill-rule": "nonzero"}
        -# 出品ボタン
    %footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
      =render 'shared/footer'
