<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5"
    height="0" width="0" style="display:none;visibility:hidden">
  </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="single-container">
  <header class="single-header">
    <h1>
      <a href="https://www.mercari.com/jp/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994" alt="mercari">
      </a>
    </h1>
  </header>
  <main class="single-main">
    <section class="l-single-container buy-item-container">
      <div id="sell-container">
        <div data-reactroot>
          <div class="sell-container-inner">
            <h2 class="l-single-head">
              商品の情報を入力
            </h2>
            <form class="sell-form">
              <div class="sell-upload-box">
                <h3 class="sell-upload-head">
                  <!-- react-text: 7-->
                  "出品画像 "
                  <!-- /react-text: 7-->
                  <span class="form-require">
                    必須
                  </span>
                </h3>
                <p>
                  最大10枚までアップロードできます
                </p>
                <div class="sell-dropbox-container clearfix state-image-number-10">
                  <div class="sell-upload-items-container">
                  </div>
                  <div class="sell-upload-items-container">
                    <div class="sell-upload-items have-item-0">
                      <ul>
                      </ul>
                    </div>
                  </div>
                  <div class="sell-upload-drop-box have-item-0">
                    ???<input type="file" class="sell-upload-drop-file" multiple="" name="image1" style="display: none;">
                    <pre class="visible-pc">
                      ドラッグアンドドロップまたはクリックしてファイルをアップロード
                    </pre>
                    <i class="icon-camera">
                    </i>
                  </div>
                  ::after
                </div>
                <!--react-empty: 18~27-->
              </div>
              <div class="sell-content">
                <div class="form-group">
                  <label>
                    <!-- react-text: 31 -->
                    商品名  
                    <!-- /react-text -->
                    <span class="form-require">
                      必須
                    </span>
                  </label>
                  <div>
                    <input class="input-default" value="" placeholder="商品名（必須 40文字まで)">
                  </div>
                    <!-- react-empty: 35 -->
                </div>
                <div class="form-group">
                  <label>
                    <!-- react-text: 38 -->
                    商品の説明
                    <!-- /react-text -->
                    <!-- react-text: 39 --> 
                    <!-- /react-text -->
                    <span class="form-require">
                      必須
                    </span>
                  </label>
                  <textarea class="textarea-default" rows="5" placeholder="商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。">
                  </textarea>
                  <!-- react-empty: 42 -->
                </div>
              </div>
              <div class="sell-content clearfix">
                <h3 class="sell-sub-head">商品の詳細
                </h3>
                <div class="sell-form-box">
                  <div class="form-group">
                    <label>
                      <!-- react-text: 48 -->
                      カテゴリー
                      <!-- /react-text -->
                      <span class="form-require">
                        必須
                      </span>
                    </label>
                    <div>
                      <div class="select-wrap">
                        <i class="icon-arrow-bottom">
                        </i>
                        <select class="select-default">
                          <option value="">
                            ---
                          </option>
                          <option value="1">
                            レディース
                          </option>
                          <option value="2">
                            メンズ
                          </option>
                          <option value="3">
                            ベビー・キッズ
                          </option>
                          <option value="4">
                            インテリア・住まい・小物
                          </option>
                          <option value="5">
                            本・音楽・ゲーム
                          </option>
                          <option value="1328">
                            おもちゃ・ホビー・グッズ
                          </option>
                          <option value="6">
                            コスメ・香水・美容
                          </option>
                          <option value="7">
                            家電・スマホ・カメラ
                          </option>
                          <option value="8">
                            スポーツ・レジャー
                          </option>
                          <option value="9">
                            ハンドメイド
                          </option>
                          <option value="1027">
                            チケット
                          </option>
                          <option value="1318">
                            自動車・オートバイ
                          </option>
                          <option value="10">
                            その他
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- react-empty: 55 -->
                  </div>
                  <div class="form-group">
                    <label>
                      <!-- react-text: 58 -->
                      商品の状態
                      <!-- /react-text -->
                      <span class="form-require">
                        必須
                      </span>
                    </label>
                    <div class="select-wrap">
                      <i class="icon-arrow-bottom">
                      </i>
                      <select class="select-default">
                        <option value="">
                          ---
                        </option>
                        <option value="1">
                          新品、未使用
                        </option>
                        <option value="2">
                          未使用に近い
                        </option>
                        <option value="3">
                          目立った傷や汚れなし
                        </option>
                        <option value="4">
                          やや傷や汚れあり
                        </option>
                        <option value="5">
                          傷や汚れあり
                        </option>
                        <option value="6">
                          全体的に状態が悪い
                        </option>
                      </select>
                    </div>
                    <!-- react-empty: 64 -->
                  </div>
                  ::after
                </div>
              </div>
              <div class="sell-content clearfix">
                <h3 class="sell-sub-head">配送について
                </h3>
                <a href="/jp/help_center/article/68/" target="_blank" class="form-question">
                  ?
                </a>
                <div class="sell-form-box">
                  <div class="form-group">
                    <label>
                      <!-- react-text: 71 -->
                      配送料の負担
                      <!-- /react-text -->
                      <span class="form-require">
                        必須
                      </span>
                    </label>
                    <div class="select-wrap">
                      <i class="icon-arrow-bottom">
                      </i>
                      <select class="select-default">
                        <option value="">
                          ---
                        </option>
                        <option value="2">
                          送料込み(出品者負担)
                        </option>
                        <option value="1">
                          着払い(購入者負担)
                        </option>
                      </select>
                    </div>
                    <!-- react-empty: 77 -->
                  </div>
                  <div class="form-group">
                    <label>
                      <!-- react-text: 80 -->
                      発送元の地域
                      <!-- /react-text -->
                      <span class="form-require">
                        必須
                      </span>
                    </label>
                    <div class="select-wrap">
                      <i class="icon-arrow-bottom">
                      </i>
                      <select class="select-default">
                        <option value="">
                          ---
                        </option>
                        <option value="1">
                          北海道
                        </option>
                        <option value="2">
                          青森県
                        </option>
                        <option value="3">
                          岩手県
                        </option>
                        <option value="4">
                          宮城県
                        </option>
                        <option value="5">
                          秋田県
                        </option>
                        <option value="6">
                          山形県
                        </option>
                        <option value="7">
                          福島県
                        </option>
                        <option value="8">
                          茨城県
                        </option>
                        <option value="9">
                          栃木県
                        </option>
                        <option value="10">
                          群馬県
                        </option>
                        <option value="11">
                          埼玉県
                        </option>
                        <option value="12">
                          千葉県
                        </option>
                        <option value="13">
                          東京都
                        </option>
                        <option value="14">
                          神奈川県
                        </option>
                        <option value="15">
                          新潟県
                        </option>
                        <option value="16">
                          富山県
                        </option>
                        <option value="17">
                          石川県
                        </option>
                        <option value="18">
                          福井県
                        </option>
                        <option value="19">
                          山梨県
                        </option>
                        <option value="20">
                          長野県
                        </option>
                        <option value="21">
                          岐阜県
                        </option>
                        <option value="22">
                          静岡県
                        </option>
                        <option value="23">
                          愛知県
                        </option>
                        <option value="24">
                          三重県
                        </option>
                        <option value="25">
                          滋賀県
                        </option>
                        <option value="26">
                          京都府
                        </option>
                        <option value="27">
                          大阪府
                        </option>
                        <option value="28">
                          兵庫県
                        </option>
                        <option value="29">
                          奈良県
                        </option>
                        <option value="30">
                          和歌山県
                        </option>
                        <option value="31">
                          鳥取県
                        </option>
                        <option value="32">
                          島根県
                        </option>
                        <option value="33">
                          岡山県
                        </option>
                        <option value="34">
                          広島県
                        </option>
                        <option value="35">
                          山口県
                        </option>
                        <option value="36">
                          徳島県
                        </option>
                        <option value="37">
                          香川県
                        </option>
                        <option value="38">
                          愛媛県
                        </option>
                        <option value="39">
                          高知県
                        </option>
                        <option value="40">
                          福岡県
                        </option>
                        <option value="41">
                          佐賀県
                        </option>
                        <option value="42">
                          長崎県
                        </option>
                        <option value="43">
                          熊本県
                        </option>
                        <option value="44">
                          大分県
                        </option>
                        <option value="45">
                          宮崎県
                        </option>
                        <option value="46">
                          鹿児島県
                        </option>
                        <option value="47">
                          沖縄県
                        </option>
                        <option value="99">
                          未定
                        </option>
                      </select>
                    </div>
                    <!-- react-empty: 86 -->
                  </div>
                  <div class="form-group">
                    <label>
                      <!-- react-text: 89 -->
                      発送までの日数
                      <!-- /react-text -->
                      <span class="form-require">
                        必須
                      </span>
                    </label>
                    <div class="select-wrap">
                      <i class="icon-arrow-bottom">
                      </i>
                      <select class="select-default">
                        <option value="">
                          ---
                        </option>
                        <option value="1">
                          1~2日で発送
                        </option>
                        <option value="2">
                          2~3日で発送
                        </option>
                        <option value="3">
                          4~7日で発送
                        </option>
                      </select>
                    </div>
                    <!-- react-empty: 95 -->
                  </div>
                </div>
                ::after
              </div>
              <div class="sell-content clearfix">
                <h3 class="sell-sub-head">
                  販売価格(300〜9,999,999)
                </h3>
                <a href="/jp/help_center/article/64/" target="_blank" class="form-question">
                  ?
                </a>
                <div class="sell-form-box">
                  <ul class="sell-price">
                    <li class="form-group">
                      <div class="sell-price-flexcontainer-T">
                        <label class="l-left">
                          価格
                          <span class="form-require">
                            必須
                          </span>
                        </label>
                        <div class="sell-price-input sell-price-flexcontainer-T">
                            ¥
                          <div>
                            <input class="input-default" value="" placeholder="例）300">
                          </div>
                        </div>
                      </div>
                      <!-- react-empty: 110 -->
                    </li>
                    <li class="clearfix">
                      <div class="l-left">
                        <!-- react-text: 199 -->
                        販売手数料 (10%)
                        <!-- /react-text -->
                      </div>
                      <div class="l-right">
                        -
                      </div>
                    </li>
                    <li class="clearfix bold">
                      <div class="l-left">
                        販売利益
                      </div>
                      <div class="l-right">
                        -
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="modal" role="dialog" tabindex="-1">
                <div class="modal-inner">
                </div>
              </div>
              <div class="sell-content sell-btn-box">
                <div>
                  <p>
                    <a href="/jp/help_center/getting_started/prohibited_items/" target="_blank">
                      禁止されている出品
                    </a>
                    <!-- react-text: 123 -->、<!-- /react-text -->
                    <a href="/jp/help_center/getting_started/prohibited_conduct/" target="_blank">
                      行為
                    </a>
                    <!-- react-text: 125 -->
                    を必ずご確認ください。
                    <!-- /react-text -->
                  </p>
                  <p>
                    <!-- react-text: 127 -->
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    <!-- /react-text -->
                    <a href="/jp/help_center/getting_started/counterfeit_goods/" target="_blank">
                      偽ブランドの販売
                    </a>
                    <!-- react-text: 129 -->
                    は犯罪であり処罰される可能性があります。
                    <!-- /react-text -->
                  </p>
                  <p>
                    <!-- react-text: 131 -->
                    また、出品をもちまして
                    <!-- /react-text -->
                    <a href="/jp/seller_terms/">
                      加盟店規約
                    </a>
                    <!-- react-text: 133 -->
                    に同意したことになります。
                    <!-- /react-text -->
                  </p>
                </div>
                <button type="submit" class="btn-default btn-red">
                  <!-- react-text: 135 -->出品する<!-- /react-text -->
                </button>
                <a class="btn-default btn-gray">
                  もどる
                </a>
                <!-- react-empty: 137 -->
              </div>
            </form>
            <div class="overlay">
            </div>
          </div>
        </div>
      </div>  
    </section>
  </main>
  <footer class="single-footer">
    <nav>
      <ul class="clearfix">
        <li>
          <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
        </li>
        <li>
          <a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
        </li>
        <li>
          <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
        </li>
      </ul>
    </nav>
    <a href="https://www.mercari.com/jp/" class="single-footer-logo">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994" alt="mercari" width="80" height="65">
    </a>
    <p>
      <small>&copy; 2019 Mercari</small>
    </p>
  </footer>
</div>

<%# <script src="//www-mercari-jp.akamaized.net/assets/js/sell.js?1146315985">
</script>

<script>
  render({
    www_url: 'https://www.mercari.com/jp/',
    item_url: 'https://item.mercari.com/jp/',
    region: 'jp',
    locale: 'ja_JP'
  }, '74ff2651fd8fce2f3116aa42b743954760056a7126ec2e8725431edc1fd6c190ba225e75f138c9ae7490d6e59fd8b14f7343fd2eaaa8bd5d7f02cd286c2819a1f', 'f80a44fb3821b2b4190799a8768e49d9');
</script>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'sell',
    'uid': '931315211'
  });
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KLPT5L5');
</script>
<!-- End Google Tag Manager --> %>