.product-new-wrapper-T
  %header.product-new-header-T
    %h1
      =link_to "https://www.mercari.com/jp/" do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994", alt: "mercari"
  %main.product-new-main-T
    %h2.product-new-formtitle-T
      商品の情報を入力_コピーです
    =form_for @product, html: { class: "product-new-fooorm"} do |f|
      .img-uploader-box
        %h3.img-uploader-head
          出品画像
          %span.must-filled-mark-t
            必須
        %p
          最大10枚までアップロードできます
        .dropbox-container.flexcontainer
          .img-uploader-container
            .img-uploader.have-item-0
              %ul
          .img-uploader-drop-box.have-item-0
            ???
            %input.img-uploader-drop-file{multiple: "multiple", name: "image1", style: "display: none;", type: "file"}/
            %pre.visible-pc
              :preserve
      
      
                ドラッグアンドドロップ　　　　　　　
                またはクリックしてファイルをアップロード　　　　　　　
            %i.icon-camera
      .form-sub-t
        .form-input-t
          %label
            商品名
            %span.must-filled-mark-t
              必須
          %div
            %input.input-default{placeholder: "商品名（必須 40文字まで)", value: ""}/
        .form-input-t
          %label
            商品の説明
            %span.must-filled-mark-t
              必須
          %textarea.textarea-default{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}
      .form-sub-t.flexcontainer
        %h3.sub-title-t
          商品の詳細
        .form-input-list-t
          .form-input-t
            %label
              カテゴリー
              %span.must-filled-mark-t
                必須
            %div
              .select-wrap
                %i.icon-arrow-bottom
                = f.select :categry, Product.categries.keys.to_a, class: "select-default"
                %select.select-default
                  %option{value: ""}
                    \---
                  %option{value: "1"}
                    レディース
                  %option{value: "2"}
                    メンズ
                  %option{value: "3"}
                    ベビー・キッズ
                  %option{value: "4"}
                    インテリア・住まい・小物
                  %option{value: "5"}
                    本・音楽・ゲーム
                  %option{value: "1328"}
                    おもちゃ・ホビー・グッズ
                  %option{value: "6"}
                    コスメ・香水・美容
                  %option{value: "7"}
                    家電・スマホ・カメラ
                  %option{value: "8"}
                    スポーツ・レジャー
                  %option{value: "9"}
                    ハンドメイド
                  %option{value: "1027"}
                    チケット
                  %option{value: "1318"}
                    自動車・オートバイ
                  %option{value: "10"}
                    その他
          .form-input-t
            %label
              商品の状態
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              %select.select-default
                %option{value: ""}
                  \---
                %option{value: "1"}
                  新品、未使用
                %option{value: "2"}
                  未使用に近い
                %option{value: "3"}
                  目立った傷や汚れなし
                %option{value: "4"}
                  やや傷や汚れあり
                %option{value: "5"}
                  傷や汚れあり
                %option{value: "6"}
                  全体的に状態が悪い
      .form-sub-t.flexcontainer
        %h3.sub-title-t
          配送について
          =link_to "?", "/jp/help_center/article/68/", target: "_blank", class: "help-link-icon-t"
        .form-input-list-t
          .form-input-t
            %label
              配送料の負担
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              %select.select-default
                %option{value: ""}
                  \---
                %option{value: "2"}
                  送料込み(出品者負担)
                %option{value: "1"}
                  着払い(購入者負担)
          .form-input-t
            %label
              発送元の地域
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              = f.collection_select :delivery_from, Prefecture.all, :id, :name, class: "select-default"
          .form-input-t
            %label
              発送までの日数
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              %select.select-default
                %option{value: ""}
                  \---
                %option{value: "1"}
                  1~2日で発送
                %option{value: "2"}
                  2~3日で発送
                %option{value: "3"}
                  4~7日で発送
      .form-sub-t.flexcontainer
        %h3.sub-title-t
          販売価格(300〜9,999,999)
          =link_to "?", "/jp/help_center/article/64/", target: "_blank", class: "help-link-icon-t"
        .form-input-list-t
          %ul.price
            %li.form-input-t
              .price-flexcontainer-T
                %label
                  価格
                  %span.must-filled-mark-t
                    必須
                .price-flexcontainer-T.price-input
                  ¥
                  %div
                    %input.input-default{placeholder: "例）300", value: ""}/
            %li.flexcontainer
              %div
                販売手数料 (10%)
              %div
                \-
            %li.flexcontainer.bold
              %div
                販売利益
              %div
                \-
      %div.form-sub-t.button-container-t
        %div
          %p
            =link_to "禁止されている出品", "/jp/help_center/getting_started/prohibited_items/", target: "_blank"
            =link_to "行為", "/jp/help_center/getting_started/prohibited_conduct/", target: "_blank"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売", "/jp/help_center/getting_started/counterfeit_goods/", target: "_blank"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            =link_to "加盟店規約", "/jp/seller_terms/"
            に同意したことになります。
        %button.button-t.button-submit-t{type: "submit", name: "処理で必要なら"}
          出品する
        =link_to "もどる", "xxx_path", class: "button-t button-cancel-t"
  %footer.product-new-footer-T
    %nav
      %ul.flexcontainer
        %li
          =link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
        %li
          =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
        %li
          =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    =link_to "https://www.mercari.com/jp/", class: "product-new-footer-LOGO-t" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994", alt: "mercari", width: "80", height: "65"
    %p
      %small &copy; 2019 Mercari