$product-image-form-width: 620px;
$img-thumbnail-width: 114px;
$img-thumbnail-height: 116px;
$img-dropbox-color: #f5f5f5;
$thumbnail-text-color: #0099E8;
$thumbnails-per-row: 5;
$thumbnail-horizontal-space: ($product-image-form-width - ($img-thumbnail-width*$thumbnails-per-row))/($thumbnails-per-row - 1);

*{
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}
body{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
}
main {
  display: block;
}
section {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}
input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  background-color: transparent;
}
::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
label {
  display: inline-block;
}


.flexcontainer {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.bold {
  font-weight: 600;
}
.product-form {
  border-top: 1px solid #eee;
}
.help-link-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.must-filled-input {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background: #ea352d;
}
.optional-input {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  background: #ccc;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.form-section {
  padding: 40px;
  border-top: 1px solid #eee;
}

.form-section__title {
  font-weight: bold;
  color: #888;
  font-size: 14px;
}
.product-form-header {
  height: 128px;
  text-align: center;
  width: 100%;
}
.product-form-header a {
  display: inline-block;
  width: 185px;
  height: 49px;
  margin: 0 8px 0 0;
  line-height: 33px;
}
.product-form-header h1 {
  margin: 40px 0 0;
  display: inline-block;
}
.product-form-header img {
  width: 185px;
  height: 49px;
}
.image-form {
  width: $product-image-form-width;
  padding: 40px;
}
.image-form label{
  width: 100%;
}
.image-form__title{
  font-size: 16px;
}
.image-form__text {
  margin: 8px 0 0;
  line-height: 1.5;
}

.dropbox__label {
  display: flex;
  overflow: scroll;
  position: relative;
  width: $product-image-form-width;
  height: 162px;
  border: 1px dashed #ccc;
  background: $img-dropbox-color;
  cursor: pointer;
  text-align: center;
  -webkit-transition: -webkit-box-shadow ease-out .3s;
  transition: -webkit-box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
}
.dropbox__label::-webkit-scrollbar {
  display: none;
}
.dropbox__placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  overflow: auto;
  font-family: monospace,monospace;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.product-img-box{
  background-color: $img-dropbox-color;
  margin-right: $thumbnail-horizontal-space;

}
.product-img-box input{
  display: none;
}
.product-img-box .thumbnail{
  object-fit: contain;
}

/////////
.btn-box {
  width:114px;
  height:15px;
  color: $thumbnail-text-color;
  display:flex;
  justify-content:space-between;
  color: 0099E8;
  .img-edit-btn, .img-delete-btn{
    display:block;
    height: 44px;
    width: 50%;
    text-align: center;
    line-height: 44px;
    &:hover{
      text-decoration: underline;
    }
  }
}
/////////
.product-form__title {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  padding: 32px 16px;
  font-size: 22px;
}
.product-form-main {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
.icon-arrow-bottom, .icon-camera {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-input {
  margin: 40px 0 0;
}
.form-input label {
  font-weight: 600;
}
.form-input select {
  width: 100%;
  height: 48px;
}

.form-input_2 {
  margin: 10px 0 0;
}
.form-input_2 label {
  font-weight: 600;
}
.form-input_2 select {
  width: 100%;
  height: 48px;
}


.form-input_3 {
  margin: 10px 0 0;
}
.form-input_3 label {
  font-weight: 600;
}
.form-input_3 select {
  width: 100%;
  height: 48px;
}


.category_parent{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.category_child{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.category_grand_child{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}


.form-input .input-default {
  width: 100%;
  margin: 8px 0 0;
}
.form-input .select-wrap {
  margin: 8px 0 0;
}
.form-input:first-child {
  margin: 0;
}
.form-input label+.textarea-default {
  margin: 8px 0 0;
}
.form-section__content {
  width: 400px;
  margin: 0;
}
.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
#product_text{
  height: 120px;
}


.select-default .kiyama {
  width: 572px;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}


.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.select-default-h {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
 
.button-t {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.button-submit {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  margin: 40px 0 0;
}
.button-cancel {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  width: 45%;
  margin: 24px auto 0;
}
.button-container p {
  line-height: 1.5;
}

.dropbox__container {
  width: $product-image-form-width;
  margin: 16px auto 0;
}

.product-form-price {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-form-price .price-input{
  width: 50%;
}
.product-form-price .price-input>div{
  margin: 0px 0px 0px 3px;
}
.product-form-price .input-default {
  text-align: right;
}
.price-input {
  text-align: right;
}
.price-field-list>li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}
.product-fee{
  font-size: 14px;
}
.product-gain{
  font-size: 16px;
}
#product-gain{
  font-size: 34px;
}
.product-form-caution__reference{
  color: #0099e8;
  &:hover{
    text-decoration: underline;
  }
}
.product-new-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
}
.product-new-footer p {
  margin: 8px 0 0;
}
.product-new-footer small {
  font-size: 13px;
}
.product-new-footer li{
  display: inline-block;
  font-size: 12px;
  margin: 0 0 0 16px;
}
.product-new-footer a {
  display: block;
  color: #333;
}

.product-new-footer-LOGO {
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
}
.icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.items-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  top:-320px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}


.product_image_box{
  color: white;
}
