/* credit card */
.credit-default{
  width: 1440px;
  height: 2100px;
}

.credit-container.clearfix{
  margin: 90px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  height: 1292px;
}

main{
  display: block;
}

.h-credit {
  float: right;
  width: 700px;
  height: 562px;
}

.h-chapter-container:first-child {
  margin: 0;
}

.h-chapter-container {
  margin: 40px 0 0;
  background: #fff;
}

.h-chapter-zilyouhou {
  font-size: 24px;
  padding: 8px 24px;
  padding-top: 15px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.registratration-form {
  padding: 40px 40px 64px;
}

.h-single-content {
  max-width: 343px;
  margin: 0 auto;
  height: 407px;
}

.form-group label {
  font-weight: 600;
}

label {
  display: inline-block;
}

.h-form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.h-input-default {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.has-error-text {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
}

.h-signup-card-list {
  margin: 8px 0 0;
  font-size: 0;
}

.h-signup-card-list li:first-child {
  margin: 0;
}

.h-signup-card-list li {
  display: inline-block;
  margin: 0 0 0 8px; 
  vertical-align: middle;
}

.h-form-group {
  margin-top: 32px;
  margin: 24px 0 0;
}

.select-wrap.half-h {
  display: inline-block;
  width: 131px;
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

.h-select-default {
  width: calc(100% - 38px);
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.signup-seqcode {
  position: relative;
  margin: 8px 0 0;
}

.signup-seqcode-text {
  text-align: right;
  color: #0099e8;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
}

.signup-seqcode-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 28px;
  z-index: 1;
  padding: 16px;
  border-radius: 6px;
  background: #eee;
  color: #333;
  line-height: 1.5;
  text-align: center;
  transition: all ease-out .3s;
  visibility: hidden;
  opacity: 0;
}

.btn-default {
  margin: 24px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.signup-form-expire .h-select-wrap .fa.fa-chevron-down {
  font-size: 15px;
  margin: 0 6px 0 -15px;
  position: relative;
  right: 15px;
  pointer-events: none;
}

.h-form-group label {
  font-weight: 600;
}

.form-require .number {
  font-size: 16px;
}

.h-input-default.has-error {
  border-color: #ea352d;
}

.form-require {
  background: #ea352d;
}
.form-require, .form-arbitrary, .message-is-seller, .news-private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
#card_number{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
}
@media screen and (min-width: 1068px)
{.l-single-inner.registration-form .form-group:not(:first-of-type), .l-single-inner.registration-form .btn-red {
  margin-top: 32px;
}
}
.l-single-inner.registration-form .form-group:not(:first-of-type), .l-single-inner.registration-form .btn-red {
  margin: 24px 0 0;
}
.select-wrap.half{
  display: inline-block;
  width: calc(50% - 2px);
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}
.form-group select{
  width: 131.5px;
  height: 48px;
}
#cvc{
  width: 343px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
#token_submit{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  margin-top: 32px;
  margin: 24px 0 0;
  text-align: center;;
}
#charge-form{
  height: 512px;
  padding: 40px 40px 64px;
}